/* Rebekah Reay - Student ID: K2938309 */
/* button {
    height: 25vh;
    width: 50vw;
    margin: 4%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: #88d0f6;
} */

button:hover {
    background-color: #ffcc66
}