/* Rebekah Reay - Student ID: K2938309 */
.book-to-share {
    display: flex;
    justify-content: space-around;
    margin: 0vh 5vw 5vw 5vw;
    height: 30vh;
}

.book-image-share {
    display: flex;
    margin-right: 10px;
}

.book-details-share {
    display: flex;
    margin-right: 20px;
}
