/* Rebekah Reay - Student ID: K2938309 */

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  background-color: #0a5d8a;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-div {
  align-items: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

button {
  height: 20vh;
  width: 40vw;
  margin: 4%;
  color: black;
  font-weight: bold;
  background-color: #88d0f6;
}



